<h4 class="mb-3">Transactions</h4>

<table class="table table-bordered table-hover">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Status</th>
    </tr>
    </thead>

    <tbody>
    <!-- <tr ng-repeat="t in transactions">
        <td>{{t.id}}</td>
        <td>{{t.amount}}</td>
        <td>{{t.type}}</td>
        <td>
            <span class="badge bg-success" ng-if="t.status=='SUCCESS'">SUCCESS</span>
            <span class="badge bg-danger" ng-if="t.status!='SUCCESS'">FAILED</span>
        </td>
    </tr> -->

    <tr>
         <td>1</td>
        <td>10000</td>
        <td>OPEN</td>
        <td>SUCCESS</td>
    </tr>
    </tbody>
</table>
