spring:
  datasource:
    url: jdbc:mysql://localhost:3306/monitoring_db
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true

  properties:
    hibernate:
      dialect: org.hibernate.dialect.MySQLDialect

